@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Noto+Sans+JP&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Japanese", sans-serif;
  background-color: #fefdf8;
}

a:link, a:visited {
  text-decoration: none;
}