@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Noto+Sans+JP&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Japanese", sans-serif;
}

@media screen and (min-width: 768px) {
  main {
    width: 300px;
  }
}
@media screen and (min-width: 991px) {
  main {
    width: 500px;
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefdf8;
  color: #394166;
}
body nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 25%;
  padding: 10px;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #fffcdd;
}
body footer div {
  color: #394166;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
body footer div a:link, body footer div a:visited {
  color: #394166;
  text-decoration: none;
}

#logo-text {
  font-family: "Dosis", Verdana, sans-serif;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  color: #394166;
}
#logo-text a:link, #logo-text a:visited {
  color: #394166;
}

.button-inverse {
  display: block;
  color: #394166;
  border: 2px solid #394166;
  padding: 15px 30px;
  text-align: center;
  border-radius: 5px;
}
.button-inverse a:link, .button-inverse a:visited {
  color: #394166;
  text-decoration: none;
}

.button {
  display: block;
  background-color: #394166;
  color: #fefdf8;
  padding: 15px 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.button a:link, .button a:visited {
  color: #fefdf8;
  text-decoration: none;
}

h1 {
  color: #1cb8f1;
  font-family: "Varela Round", Tahoma, sans-serif;
  font-weight: 900;
  font-size: 35px;
  text-align: center;
  margin: 20px;
}

#mockup {
  box-shadow: 0px 0px 30px 10px #fffcdd;
  width: auto;
  border-radius: 100px;
  margin: 20px;
}

#intro-dadvice {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#intro-dadvice h2 {
  font-size: 26px;
  font-weight: bold;
  padding: 20px;
}
#intro-dadvice h3 {
  color: #1cb8f1;
  font-weight: bold;
  font-size: 22px;
  padding: 20px;
}
#intro-dadvice p {
  padding: 20px;
  padding-bottom: 40px;
}

#description-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 10px;
}
#description-picture h4 {
  font-size: 25px;
}
#description-picture #text-pic-1, #description-picture #text-pic-2, #description-picture #text-pic-3, #description-picture #text-pic-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#description-picture #text-pic-1 p, #description-picture #text-pic-2 p, #description-picture #text-pic-3 p, #description-picture #text-pic-4 p {
  width: 66.6%;
  text-align: left;
  font-size: 17px;
}
#description-picture #text-pic-1 p, #description-picture #text-pic-1 img, #description-picture #text-pic-2 p, #description-picture #text-pic-2 img, #description-picture #text-pic-3 p, #description-picture #text-pic-3 img, #description-picture #text-pic-4 p, #description-picture #text-pic-4 img {
  padding: 0px 10px;
}

span {
  font-weight: bold;
}

#italics {
  font-style: italic;
  font-weight: lighter;
}